section.wrapper
{
    text-align: center;
}
canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}

.button
 {
    background-color: #000000;
    border: none;
    box-shadow: 0 9px#505050;
    padding: 20px;
    text-align: center;
    font-size: 28px;
  }
  
  .button:hover
  {
    background-color: #3F3F3F;
  }
  
  .button:active 
  {
    box-shadow: 0 5px #3D3D3D;
    transform: translateY(5px);
  }
  
  .red 
  {
    color: #FF0000;
  }
  
  .green 
  {
    color: #00FF00;
  }
  
  .blue 
  {
    color: #0000FF;
  }
  
  .yellow 
  {
    color: #FFFF00;
  }
  
  .round 
  {
    border-radius: 50%;
  }
  
div#modal{
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}
